BODY {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial, Helvetica; BACKGROUND-COLOR: #ffffff
}
P {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial, Helvetica,sans-serif
}
UL {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial, Helvetica,sans-serif
}
TD {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial, Helvetica,sans-serif
}
A {
	FONT-SIZE: 8pt; COLOR: #8b4023; FONT-FAMILY: Verdana,Arial, Helvetica; TEXT-DECORATION: none
}
A:hover {
	COLOR: red; TEXT-DECORATION: none
}
A.menu1 {
	FONT-WEIGHT: bold
}
A.topnav {
	FONT-SIZE: 8pt; COLOR: #ffffff
}
A.topnav:hover {
	FONT-SIZE: 8pt; COLOR: #ffffff
}
A.login {
	FONT-SIZE: 7pt; COLOR: #000000
}
A.login:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.wo {
	COLOR: #000000; TEXT-DECORATION: none
}
.navblack {
	FONT-FAMILY: Verdana,Arial, Helvetica; BACKGROUND-COLOR: black
}
.navgray {
	FONT-FAMILY: Verdana,Arial, Helvetica; BACKGROUND-COLOR: #676767
}
.navright {
	FONT-FAMILY: Verdana,Arial, Helvetica; BACKGROUND-COLOR: #6c6c6c
}
.h1 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #b30101; FONT-FAMILY: Verdana,Arial, Helvetica
}
.h2 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial, Helvetica
}
.h3 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #b30101; FONT-FAMILY: Verdana,Arial, Helvetica
}
.redbold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #b30101; FONT-FAMILY: Verdana,Arial, Helvetica
}
.red {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #b30101; FONT-FAMILY: Verdana,Arial, Helvetica
}
.mb {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #b30101; FONT-FAMILY: Verdana,Arial, Helvetica
}
INPUT {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial, Helvetica; HEIGHT: 20px
}
SELECT {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial, Helvetica; HEIGHT: 20px
}
TEXTAREA {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial, Helvetica
}
.text1 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial, Helvetica
}
.border {
	BORDER-RIGHT: 0px; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: 0px
}
.border TD {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BORDER-BOTTOM: #000 1px solid
}
.bn {
	BORDER-RIGHT: red 1px solid; BORDER-TOP: red 1px solid; OVERFLOW: hidden; BORDER-LEFT: red 1px solid; WIDTH: 159px; BORDER-BOTTOM: red 1px solid; HEIGHT: 50px
}
.bn TABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse
}
.bn TABLE TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.bn TABLE TD {
	FONT-SIZE: 9px
}
.bn TABLE TD .h1 {
	FONT-SIZE: 9px
}
.bn TABLE TD P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
